/* 
This is a external css file
Contains only style attributes
no html tags allowed
saved as .css
no style tag required / allowed
*/

p {
  color: blue;
  background-color: bisque;
  text-align: center;
}
h1 {
  text-align: center;
}
