.app {
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #222;
  color: white;
}

button {
  padding: 10px;
  cursor: pointer;
}
